*{
	margin:0;
	padding: 0;
	border: none;
}
body{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	min-height: 100vh;
	max-height: auto;
	width: 100%;
	background-image: url(../assets/bg.svg);
	background-position: 0px;
	background-size: cover;
	background-repeat: no-repeat;
}

.card{
	margin: 0 20px 20px 0;
	width: 100px;	
	height: 150px;
}

.card:hover{
	cursor: pointer;
}

.container{
	margin: 20px 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 750px;
	flex-wrap: wrap;
}
.card__container {
	box-shadow: 0 0 10px rgba(74,20,140 ,1);
	position: relative;
	width: 100%;

	border-radius: 15px;
	height: 100%;
	text-align: center;
	transition: .75s;
	transform-style: preserve-3d;
}

.flip{
/*.card:hover .card__container{*/
	transform: rotateY(180deg);
}


.card_front, .card_back {

	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
}

.card_back {
	background-image: url(../assets/cb.svg);
	background-size: 150px;	
}

.card_front {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
}

.card__image{
	width: 50px;
	height: 50px;
}
